.div-center h1 {
    font-size: 34px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, red, blue);
    background: transparent;
    /* Use background-clip to only apply gradient to text */
    -webkit-background-clip: text;
    background-clip: text;
    /* Apply the gradient to the text */
    color: transparent;
    background-image: linear-gradient(to right, black, white);
}
.nav-link {
    text-decoration: none;
}
.chart-container {
    display:flex;
    align-items: center;
    justify-content: center;
}
